*.fasta filter=lfs diff=lfs merge=lfs -text
*/Heteroptera_Sternorrhyncha_G_buenoi_prot.fasta filter=lfs diff=lfs merge=lfs -text
Scripts/3_TE_annotation/*.RData filter=lfs diff=lfs merge=lfs -text
*.qmd linguist-language=R
*.RData filter=lfs diff=lfs merge=lfs -text
